#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.roller{
  display: flex;

}
.div_one{
  border: 2px  solid white;
  height: 150px;
  width: 150px;
  margin: 5px;
  border-radius: 10px;
}
.div_two{
  border: 2px  solid white;
  height: 150px;
  width: 150px;
  margin: 5px;
  border-radius: 10px;
}
.div_three{
  border: 2px  solid white;
  height: 150px;
  width: 150px;
  margin: 5px;
  border-radius: 10px;
}
.btnGenerate{
  margin: 5px;
}